.ttt{
    font-size: 30px;
    font-family: cursive;
    color: blue;
    background-color: azure;
    text-align: center;
}


.foto{
    border-radius: 50%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin: auto;
    border: 15% black;
}